<!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/new-css.css">
    <title>Pokedex</title>
  </head>
  <body>
    <div class="pokedex">
      <div class="left-container">
        <div class="left-container__top-section">
          <div class="top-section__blue"></div>
          <div class="top-section__small-buttons">
            <div class="top-section__red"></div>
            <div class="top-section__yellow"></div>
            <div class="top-section__green"></div>
          </div>
        </div>
        <div class="left-container__main-section-container">
          <div class="left-container__main-section">
            <div class="main-section__white">
              <div class="main-section__black">
                  <div class="left-container_screen-large">
                      <div class="list-item-large">
                          <img src="{{pokemon.img}}" alt="">
                      </div>
                    </div>
              </div>
            </div>
            <div class="left-container_name">
                <div class="name">
                    <h1>{{pokemon.name}}</h1>
                </div>
            </div>
            <div class="left-container__controllers">
              <div class="controllers__buttons">
                  <div class="buttons__button"><a href="/pokedex/">B</a></div>
                  <div class="buttons__button">A</div>
              </div>
              <div class="controllers__d-pad">
                <div class="d-pad__cell top"></div>
                <div class="d-pad__cell left"></div>
                <div class="d-pad__cell middle"></div>
                <div class="d-pad__cell right"></div>
                <div class="d-pad__cell bottom"></div>
              </div>
            </div>
          </div>
          <div class="left-container__right">
            <div class="left-container__hinge"></div>
            <div class="left-container__hinge"></div>
          </div>
        </div>
      </div>
      <div class="right-container">
        <div class="right-container__black">
          <div class="right-container__screen">
            <ul>
              {% for move in pokemon.moves.level%}
            <li>
                <div class="move">
                  <p>
                      {% if move.learnedat == ""%}
                      <span class= "move-name">{{move.name}}</span>
                      learned at level: 
                      <span class="lvl">0</span>
                      {%else%}
                      <span class= "move-name">{{move.name}}</span>
                      learned at level: 
                      <span class="lvl">{{move.learnedat}}</span>
                      {%endif%}
                  </p>
                </div>
            </li>
            {%endfor%} 
        </ul>

          </div>
        </div>
        <div class="right-container__blue">
          <div class="right-container__stats">
              <div class="stat-cat">
                  <div class="stat-name">
                      <h4>Hp</h4>
                  </div>
                  <div class="stat-val">
                      <h4>{{pokemon.stats.hp}}</h4>
                  </div>
              </div>
              <div class="stat-cat">
                  <div class="stat-name">
                      <h4>Atk</h4>
                  </div>
                  <div class="stat-val">
                      <h4>{{pokemon.stats.attack}}</h4>
                  </div>
              </div>
              <div class="stat-cat">
                  <div class="stat-name">
                      <h4>Def</h4>
                  </div>
                  <div class="stat-val">
                      <h4>{{pokemon.stats.defense}}</h4>
                  </div>
              </div>
              <div class="stat-cat">
                  <div class="stat-name">
                      <h4>SpAtk</h4>
                  </div>
                  <div class="stat-val">
                      <h4>{{pokemon.stats.spattack}}</h4>
                  </div>
              </div>
              <div class="stat-cat">
                  <div class="stat-name">
                      <h4>SpDef</h4>
                  </div>
                  <div class="stat-val">
                      <h4>{{pokemon.stats.spdefense}}</h4>
                  </div>
              </div>
              <div class="stat-cat">
                  <div class="stat-name">
                      <h4>Spd</h4>
                  </div>
                  <div class="stat-val">
                      <h4>{{pokemon.stats.speed}}</h4>
                  </div>
              </div>
          </div>
        </div>
        <div class="right-container_types">
        {% if pokemon.type[0] == "Normal" %}
          <div class="type normal">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Fighting" %}
          <div class="type fighting">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Flying" %}
          <div class="type flying">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Poison" %}
          <div class="type poison">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Ground" %}
          <div class="type ground">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Rock" %}
          <div class="type rock">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Bug" %}
          <div class="type bug">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Ghost" %}
          <div class="type ghost">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Steel" %}
          <div class="type steel">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Fire" %}
          <div class="type fire">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Water" %}
          <div class="type water">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Grass" %}
          <div class="type grass">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Electric" %}
          <div class="type electric">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Psychic" %}
          <div class="type psychic">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Ice" %}
          <div class="type ice">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Dragon" %}
          <div class="type dragon">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Dark" %}
          <div class="type dark">{{pokemon.type[0]}}</div>
          {% elsif pokemon.type[0] == "Fairy" %}
          <div class="type fairy">{{pokemon.type[0]}}</div>
          {%else%}
          <div class="type hide">{{pokemon.type[0]}}</div>
        {% endif %}
        {% comment %} type2 {% endcomment %}
        {% if pokemon.type[1] == "Normal" %}
          <div class="type normal">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Fighting" %}
          <div class="type fighting">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Flying" %}
          <div class="type flying">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Poison" %}
          <div class="type poison">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Ground" %}
          <div class="type ground">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Rock" %}
          <div class="type rock">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Bug" %}
          <div class="type bug">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Ghost" %}
          <div class="type ghost">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Steel" %}
          <div class="type steel">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Fire" %}
          <div class="type fire">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Water" %}
          <div class="type water">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Grass" %}
          <div class="type grass">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Electric" %}
          <div class="type electric">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Psychic" %}
          <div class="type psychic">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Ice" %}
          <div class="type ice">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Dragon" %}
          <div class="type dragon">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Dark" %}
          <div class="type dark">{{pokemon.type[1]}}</div>
          {% elsif pokemon.type[1] == "Fairy" %}
          <div class="type fairy">{{pokemon.type[1]}}</div>
          {%else%}
          <div class="type hide">{{pokemon.type[1]}}</div>
        {% endif %}
        </div>
        <div class="right-container__buttons">
          <div class="left-button">
            <a href="/pokedex/{{currentIndex}}/edit">Update</a>
          </div>
          <div class="center-button">
            <form action="/pokedex/{{currentIndex}}?_method=DELETE" method = "POST">
              <input class= "submit" type="submit" value ="Del">
            </form>
          </div>
          <div class="right-button"><a href="/pokedex/new">New</a></div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
  </html>

